<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDo List</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="images/favicon.ico">
</head>
<body>
  <button id="save-todo-button">💾 Save This Todo</button>
  <button id="logout-button">Log Out ⮞</button>

  <div class="container">
  <h2> <%= kindOfDay %> </h2>
    <h1>ToDo Today</h1>
    <form id="todo-form" action="/" method="POST">
      <input type="text" id="todo-input" name="todo" placeholder="Enter task...">
    <button type="submit">Add Task</button>
  </form>
  <ul id="todo-list" class="todo-list">
      <% items.forEach(function(item) { %>
        <li><%= item %></li>
      <% }); %>
    </ul>
    <h2>Done Today</h2>
    <ul id="completed-list" class="completed-list"></ul>
  </div>

  <div id="history-todo-list" class="container">

  </div>

  <footer>With  💖  Tsiar</footer>

  <div id="cookie-message">
    <p>Cookies help us deliver our services. By using our services, you agree to our use of cookies.</p>
    <button id="accept-cookies">OK</button>
  </div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <p>Delete task?</p>
    <button class="confirm-button">YES</button>
    <button class="close-button">NO</button>
  </div>
</div>

<!-- Log in modal window-->
<div id="logIn" class="modal">
  <div class="modal-content">
    <form id="login-form" name='login' action="/" method="POST">
      <div class="head-container">
        <h3>Log In</h3>
        <a href="#" id="show-register-modal" class="show-modal"> or Register</a><br>
        <h3>Welcome Back!</h3>
      </div>
      <label for="email">Email</label>
      <input name="email" required focused></input>
      <label for="password">Password</label>
      <input name="password" required></input>
      <button type="submit">Let Me In</button>
    </form>
  </div>
</div>

<!-- Register-modal window -->
<div id="register" class="modal">
  <div class="modal-content">
    <form id="register-form" name='registration' action="/" method="POST" onSubmit="return formValidation();">
      <div class="head-container">
        <h3>Register</h3>
        <a href="#" id="show-login-modal" class="show-modal"> or Log In</a><br>
        <h3>To Save ToDo List</h3>
      </div>
      <label for="email">Email</label>
      <input id="email" name="email" required focused></input>
      <label for="password">Password</label>
      <input name="password" required></input>
      <label for="name">Name</label>
      <input name="name" required></input>
      <button type="submit">Sign Me Up</button>
    </form>
  </div>
</div>

<script src="/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="milatsiar" data-description="Support me on Buy me a coffee!" data-message="Buy me a coffee." data-color="#5F7FFF" data-position="Right" data-x_margin="10" data-y_margin="10"></script>
</html>
