<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDo List</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="/favicon.ico">
</head>
<body>

  <div class="container">
    <h1>ToDo Today</h1>
    <h2> <%= kindOfDay %> </h2>
    <form id="todo-form" action="/" method="POST">
      <input type="text" id="todo-input" name="todo" placeholder="Enter task...">
    <button type="submit">Add Task</button>
  </form>
  <ul id="todo-list" class="todo-list">
      <% items.forEach(function(item) { %>
        <li><%= item %></li>
      <% }); %>
    </ul>

    <h2>Done</h2>
    <ul id="completed-list" class="completed-list"></ul>
  </div>

  <div id="cookie-message">
    <p>Cookies help us deliver our services. By using our services, you agree to our use of cookies.</p>
    <button id="accept-cookies">OK</button>
  </div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <p>Delete task?</p>
    <button class="confirm-button">YES</button>
    <button class="close-button">NO</button>
  </div>
</div>

<!-- The Modal -->
<!-- <div id="calendar-container-date" class="modal">
</div>
<div id="calendar-container-time" class="modal">
  <div class="modal-content">
    <p>Choose a date</p>
</div>
</div> -->

<script src="/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="milatsiar" data-description="Support me on Buy me a coffee!" data-message="Buy me a coffee." data-color="#5F7FFF" data-position="Right" data-x_margin="18" data-y_margin="100"></script>
</html>
