body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 30px auto 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin: 0;
}

input[type="text"] {
  width: calc(100% - 25px);
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #5F7FFF; //#4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #40DCA5; //#45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    position: relative; /* Размещаем элемент относительно его обычного местоположения */
    align-items: center;
    border: none;
    /* background-color: #ccc; */
    border-radius: 5px;
}

.todo-text {
    white-space: pre-line;
    flex-grow: 1; /* Расширяем текст задачи на всё доступное пространство */
    text-decoration: none; /* отменяем перечеркивание для текста задачи */
}

.todo-item button {
    margin-left: 10px;
}

.check-square {
  width: 20px;
  height: 20px;
  left: 5px; /* Располагаем изображение слева */
  cursor: pointer;
  opacity: 0.3;
  margin-right: 5px;
}

.delete-button {
  background-color: white;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 0;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #FF5F5F; //#45a049;
}

#save-todo-button {
  position: absolute;
  left: 61%;
  top: 10px;
  margin-bottom: 0;
  font-size: medium;
}

.focus {
    border: 4px solid yellow;
}

.attention {
    border: 4px solid #FF5F5F;
}

.completed {
    text-decoration: line-through;
}

.completed-item {
    border: none;
}

.check-square.completed {
    opacity: 1;
}

input.deadline-date {
  margin-bottom: 0;
  padding: 10px 0 0;
  width: 50px;
  border: none;
  right: 30px;
  font-size: medium;
  text-align: center;
}

.priority-star {
    margin: 0 10px;
    cursor: pointer;
}
.priority {
    margin: 0 10px;
    cursor: pointer;
}

#cookie-message {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}
