body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  /* padding: 20px; от края до края*/
  border: 1px solid #ccc;
  border-radius: 5px;
}

#main-container {
  margin-top: 50px;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  margin: 0;
  padding-top: 20px;
}
h3 {
  display: inline-block;
}

h4 {
  position: relative;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

input[type="text"] {
  width: calc(100% - 25px);
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #5F7FFF; //#4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #40DCA5; //#45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    position: relative; /* Размещаем элемент относительно его обычного местоположения */
    align-items: center;
    border: 4px solid white;
    /* background-color: #ccc; */
    border-radius: 5px;
}

.todo-text {
    white-space: pre-line;
    flex-grow: 1; /* Расширяем текст задачи на всё доступное пространство */
    text-decoration: none; /* отменяем перечеркивание для текста задачи */
}

.todo-item button {
    margin-left: 10px;
}

.check-square {
  width: 20px;
  height: 20px;
  left: 5px; /* Располагаем изображение слева */
  cursor: pointer;
  opacity: 0.3;
  margin: 0 5px;
}

.delete-button {
  background-color: white;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 0;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #FF5F5F; //#45a049;
}

#save-todo-button {
  position: absolute;
  display: none;
  left: 61%;
  top: 10px;
  margin-bottom: 0;
  font-size: medium;
  font-family: "Montserrat", sans-serif;
}
#logout-button {
  position: absolute;
  display: none;
  top: 10px;
  right: 10px;
  margin-bottom: 0;
  font-size: medium;
  font-family: "Montserrat", sans-serif;
}

.focus {
    border: 4px solid yellow;
}

.attention {
    border: 4px solid #FF5F5F;
}

.completed {
    text-decoration: line-through;
}

.completed-item {
    border: none;
}

.check-square.completed {
    opacity: 1;
}

input.deadline-date {
  margin-bottom: 0;
  padding: 10px 0 0;
  width: 50px;
  border: none;
  right: 30px;
  font-size: medium;
  text-align: center;
}

.priority-star {
    margin: 0 10px;
    cursor: pointer;
}
.priority {
    margin: 0 7px;
    cursor: pointer;
}

#cookie-message {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  align-items: center;
}

#register input {
  display: block;
  width: 90%;
  margin-bottom: 10px;
  padding: 5px;
  font-size: medium;
}

#logIn input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  font-size: medium;
}

.show-modal {
  position: relative;
  left: 20%;
  font-size: 18.72px;
}
/* // head-container in modal */
.head-container {
  margin-bottom: 40px;
}

#history-todo-list {
  display: none;
  margin-bottom: 100px;
}
.container-history {
    /* display: flex; */
    justify-content: space-between;
    position: relative;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.expand-sign {
    position: absolute;
    top: 0;
    right: 0;
  background-color: white;
  color: #5F7FFF;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 0;
  cursor: pointer;

}
.date-header {
    display: flex;
    justify-content: space-between;
    position: relative; /* Размещаем элемент относительно его обычного местоположения */
    align-items: center;
    border: 4px solid white;
    border-radius: 5px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #adbeff;
  color: #0056b3;
  text-align: center; /* Выравнивание текста по центру */
    /* font-family: "Sacramento", cursive; */
    font-size: 20px;
}

p {
	font-size: 2rem;
	margin: auto;
	position: relative;
	line-height: 80%;
}
.box {
  width: 200px;
  aspect-ratio: 1;
  --g:/33.334% 33.334% radial-gradient(#000 calc(71% - 1px),#0000 71%) no-repeat;
  mask: 99.866% 53.662% var(--g),71.762% 95.016% var(--g),21.896% 91.354% var(--g),0.134% 46.338% var(--g),28.238% 4.984% var(--g),78.104% 8.646% var(--g),radial-gradient(100% 100%,#000 28.868%,#0000 calc(28.868% + 1px));
}
.flower {
  --r: 3px; /* radius of circles */
  height: 40px;
  aspect-ratio: 1;
  padding: calc(1.5*var(--r));
  background: var(--color-flower);
  mask:
    linear-gradient(#000 0 0) no-repeat
     50%/calc(100% - 6*var(--r)) calc(100% - 6*var(--r)),
    radial-gradient(farthest-side, yellow 30%, #000 31%, #000 97%, #0000)
     0 0/calc(6*var(--r)) calc(6*var(--r)) round;
  box-sizing: border-box;
  position: absolute;
  opacity: 1;
  transform-origin: 50% 100%;
  animation: wind_sway 3s linear infinite;
}
.flower::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: yellow;
    border-radius: 50%;
    z-index: 1; /* Чтобы точки находились поверх фона */
}
@keyframes wind_sway {
	25% {
	  transform: skewX(5deg);
	}
	75% {
	  transform: skewX(-5deg);
	}
}
